body {
    background-image: linear-gradient(180deg, rgb(123, 3, 123), rgb(54, 18, 184));
    min-height: 100vh;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper{
    width: 90%;
    margin: 5%;
    display: flex;
}

/* Estilo para o formulário */
.form {
    max-width: 44%;
    margin: 1%;
    padding: 20px;
    background-color: #131212;
    border: 2px solid #FFF;
    border-radius: 8px;
    box-shadow: 0 0 2em silver;
    height: 75vh;
}

/* Estilo para o rótulo */
label {
    font-size: 22px;
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #FFF;
}

/* Estilo para a caixa de seleção */
select {
    background-color: #000;
    font-size: 20px;
    color:greenyellow;
    font-size: 19px;
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Estilo para as opções do range container */
#range-container{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#range-container label, p{
    margin-right: 20px;
}

/* Estilo para as opções do range value */
#rangeValue, #kcal {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #000;
    color:greenyellow ;
    font-size: 28px;
    width:100px ;
}
option {
    background-color: #000;
    font-size: 20px;
    color:greenyellow ;
}

/* Estilo para a opção nutriente*/

.nutrientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dieta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 48%;
    margin: 10px 1%;
}

.seper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 40px;
}
.microvalue {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dieta-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin: 10px 1%;
}

.dieta label {
    
    font-size: 18px;
}

#nutri {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #000;
    color:greenyellow ;
    font-size: 20px;
    width:30% ;
    
}

/* Estilo para a botão animado (Adicionar) */
.sub {
    background-image: linear-gradient(-50deg, rgb(54, 18, 184), rgb(182, 12, 182), rgb(140, 25, 25), rgb(54, 18, 184));
    color: #FFF;
    font-size: 18px;
    font-size: 25px;
    margin-top: 15px;
    padding: 10px 18px;
    background-size: 400% 400%;
    animation: backgroundTransition 4s infinite;
}

.sub:hover {
    cursor: pointer;
}
#piechart_3d {
    width: 48%;
    margin: 1%;
    padding: 20px;
    background-color: #131212;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 0 2em silver;
    height: 75vh;

}
.grafico {
    display: flex;
}
canvas {
    border-radius: 50%;
    border: 2px solid #FFF;
}

.legend {
    display: grid;
    grid-template-columns: 1rem 1fr
}

.legend p {
    margin-top: 0;
    margin-left: 5px;
    color: #FFF;
    font-size: 18px;
}

.descrip {
    width: 15px;
    height: 15px;
}

@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }

    50% {
        background-position: 90% 100%;
    }

    100% {
        background-position: 0% 90%;
    }

}